.App {
  text-align: center;
  font-family: Arial, sans-serif;
  direction: rtl; /* תמיכה בעברית */
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px auto;
  padding: 15px;
  width: 50%;
  border-radius: 5px;
  text-align: right;
}